/* Layout Utilities */

.main-header {
    height: 60px;
}

/* Colors */

.bg-black {
    background-color: #000000;
}

.bg-gray {
    background-color: #BEBCBB;
}

.bg-blue {
    background-color: #151C3B;
}

.bg-lightblue {
    background-color: #00439B;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
}


/* Jumbotron */

#main-jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    height: 80vh;
}

#secondary-jumbotron {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

/* Footer */

.small-icon {
    width: 15px;
}

.img-small {
    width: 100px;
}