/* Layout Utilities */

.main-header {
    height: 60px;
}

[class^=container], [class^=col] {
    border: 1px dashed green;
}

#jumbotron [class^=col] {
    height: 500px;
}

#ps5 {
    height: 1000px;
}

#ps5 [class^=col] {
    min-height: 150px;
}

.img-bg {
    height: 500px;
}

#gallery-games [class^=col] {
    min-height: 150px;
}

.plus-img {
    height: 300px;
}