/* Layout Utilities */

.main-header {
    height: 60px;
}

/* [class^=container], [class^=col] {
    border: 1px dashed green;
} */



/* Jumbotron */

#main-jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    height: 80vh;
}

#secondary-jumbotron {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

/* Footer */

.small-icon {
    width: 15px;
}